---
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAdjacentNotes, getAllNoteSlugs } from '@/lib/data-utils'
import { render } from 'astro:content'

export async function getStaticPaths() {
  const allNoteSlugs = await getAllNoteSlugs()
  return allNoteSlugs.map(({ slug, note }) => ({
    params: { id: slug },
    props: { note, slug },
  }))
}

const { note, slug } = Astro.props
const { Content } = await render(note)
const { prev, next } = await getAdjacentNotes(slug)

const currentUrl = Astro.url
const encodedSlug = slug.split('/').map((segment: string) => encodeURIComponent(segment)).join('/')
const ogImagePath = `/image/${encodedSlug}.png`
---

<Layout canonicalUrl={currentUrl}>
  <PageHead
    slot="head"
    title={note.data.title}
    description={note.data.description}
    image={ogImagePath}
    article={true}
    tags={note.data.tags || []}
    publishedTime={note.data.date.toISOString()}
    modifiedTime={note.data.date.toISOString()}
    canonicalURL={currentUrl.toString()}
  />

  <article class="post">
    <h1 class="post-title">{note.data.title}</h1>

    <div class="post-meta">
      <time datetime={note.data.date.toISOString()}>{note.data.date.toLocaleDateString('zh-CN')}</time>
      {note.data.category && <span class="post-author">{note.data.category}</span>}
      {note.data.authors && note.data.authors.length > 0 && <span class="post-author">{note.data.authors.join(', ')}</span>}
    </div>

    {note.data.tags && note.data.tags.length > 0 && (
      <span class="post-tags">
        {note.data.tags.map((tag) => <a href={`/tags/${encodeURIComponent(tag)}/`}>{tag}</a>)}
      </span>
    )}

    <div class="post-content">
      <Content />
    </div>
  </article>

  <div class="pagination">
    <div class="pagination__title">
      <span class="pagination__title-h">Read other notes</span>
      <hr />
    </div>
    <div class="pagination__buttons">
      {prev && (
        <a href={`/notes/${prev.slug}/`} class="button inline prev">
          &lt; [<span class="button__text">{prev.post.data.title}</span>]
        </a>
      )}
      {prev && next && <span>::</span>}
      {next && (
        <a href={`/notes/${next.slug}/`} class="button inline next">
          [<span class="button__text">{next.post.data.title}</span>] &gt;
        </a>
      )}
    </div>
  </div>
</Layout>
