---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Search from '@/components/react/search'
import PaginationComponent from '@/components/ui/pagination'
import Layout from '@/layouts/Layout.astro'
import { getAllPostSlugs } from '@/lib/data-utils'
import type { PaginateFunction } from 'astro'
import { Icon } from 'astro-icon/components'
export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const allPostSlugs = await getAllPostSlugs()
  const postsWithSlugs = allPostSlugs.map(({ slug, post }) => ({ ...post, slug }))
  return paginate(postsWithSlugs, { pageSize: 5 })
}

const { page } = Astro.props
const allPostSlugs = await getAllPostSlugs()
const searchList = allPostSlugs.map(({ slug, post }) => ({
  id: post.id,
  slug,
  data: {
    title: post.data.title,
    description: post.data.description,
    tags: post.data.tags ?? [],
    date: post.data.date,
  },
  body: ''
}))
const currentUrl = Astro.url;
---
<Layout canonicalUrl={currentUrl}>
  <PageHead slot="head" title="博客" />
  
  <Breadcrumbs
    items={[
      { label: '博客', href: '/blog', icon: 'lucide:archive' },
      { label: `Page ${page.currentPage}`, icon: 'lucide:folder-open' },
    ]}
  />
  <section class="max-screen mt-12 px-4 md:px-6">
    <div class="flex w-fit items-center gap-2 text-primary">
        <Icon class="h-4 w-4 text-secondary-foreground animate-pulse" name="lucide:brain" />
        <p class="shimmer word-spacing font-mono text-sm uppercase leading-none text-secondary-foreground">
          Quick Thoughts
        </p>
    </div>
    <h2
    id="skills-title"
    class="font-custom text-foreground text-4xl font-bold mt-2"
    >
      博客
    </h2>
    <p class="text-muted-foreground text-md max-w-2xl mt-3">
      欢迎来到我的博客，这里主要记录安全研究、开发实践和日常折腾笔记。会分享学习总结、项目经验以及对各种技术话题的看法，希望这些内容对你有帮助，如果有问题或建议也欢迎留言交流。
    </p>

    <div class="flex min-h-[calc(100vh-18rem)] flex-col gap-y-8 my-12">
      <Search
        client:idle
        searchList={searchList}
        initialPosts={page.data}
        basePath="/blog"
        tagLinkBase="/tags"
      />
    </div>

    <PaginationComponent
      currentPage={page.currentPage}
      totalPages={page.lastPage}
      baseUrl="/blog/"
      client:idle
    />
  </section>
</Layout>


