---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Search from '@/components/react/search'
import PaginationComponent from '@/components/ui/pagination'
import Layout from '@/layouts/Layout.astro'
import { getAllPostSlugs } from '@/lib/data-utils'
import type { PaginateFunction } from 'astro'
import { Icon } from 'astro-icon/components'
export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const allPostSlugs = await getAllPostSlugs()
  const postsWithSlugs = allPostSlugs.map(({ slug, post }) => ({ ...post, slug }))
  return paginate(postsWithSlugs, { pageSize: 5 })
}

const { page } = Astro.props
const allPostSlugs = await getAllPostSlugs()
const searchList = allPostSlugs.map(({ slug, post }) => ({
  id: post.id,
  slug,
  data: {
    title: post.data.title,
    description: post.data.description,
    tags: post.data.tags ?? [],
    date: post.data.date,
  },
  body: ''
}))
const currentUrl = Astro.url;
---
<Layout canonicalUrl={currentUrl}>
  <PageHead slot="head" title="鍗氬" />
  
  <Breadcrumbs
    items={[
      { label: '鍗氬', href: '/blog', icon: 'lucide:archive' },
      { label: `Page ${page.currentPage}`, icon: 'lucide:folder-open' },
    ]}
  />
  <section class="max-screen mt-12 px-4 md:px-6">
    <div class="flex w-fit items-center gap-2 text-primary">
        <Icon class="h-4 w-4 text-secondary-foreground animate-pulse" name="lucide:brain" />
        <p class="shimmer word-spacing font-mono text-sm uppercase leading-none text-secondary-foreground">
          Quick Thoughts
        </p>
    </div>
    <h2
    id="skills-title"
    class="font-custom text-foreground text-4xl font-bold mt-2"
    >
      鍗氬
    </h2>
    <p class="text-muted-foreground text-md max-w-2xl mt-3">
      娆㈣繋鏉ュ埌鎴戠殑Blog锛佸湪杩欓噷锛屾垜浼氬垎浜垜鎵€瀛︿範浜嗚В鍒扮殑鐭ヨ瘑銆侀」鐩粡楠屽拰瀵瑰悇绉嶆妧鏈瘽棰樼殑鎬濊€冦€傚笇鏈涜繖浜涘唴瀹瑰鎮ㄦ湁鎵€鎬濊€冨拰甯姪銆傛偍濡傛灉鏈変换浣曢棶棰樻垨寤鸿锛屾杩庤仈绯绘垜锛佷竴璧峰姞娌癸紒
    </p>

    <div class="flex min-h-[calc(100vh-18rem)] flex-col gap-y-8 my-12">
      <Search client:idle searchList={searchList} initialPosts={page.data} />
    </div>

    <PaginationComponent
      currentPage={page.currentPage}
      totalPages={page.lastPage}
      baseUrl="/blog/"
      client:idle
    />
  </section>
</Layout>



