---
import TerminalPostCard from '@/components/terminal/TerminalPostCard.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { SITE } from '@/consts'
import { getAllPostSlugs } from '@/lib/data-utils'

const allPostSlugs = await getAllPostSlugs()
const recentPosts = allPostSlugs.slice(0, 5)
const currentUrl = Astro.url
---

<Layout canonicalUrl={currentUrl}>
  <PageHead
    slot="head"
    title={`${SITE.title} - 安全研究`}
    description={SITE.description}
    canonicalURL={currentUrl.toString()}
  />

  <div class="page">
    <h1>{SITE.title}</h1>
    <p>{SITE.description}</p>
    <p>
      <a href="/blog/" class="button">博客</a>
      <span> </span>
      <a href="/notes/" class="button">笔记</a>
      <span> </span>
      <a href="/album/" class="button">相册</a>
    </p>
  </div>

  <div class="posts">
    <h2 class="posts-title">最新文章</h2>
    {recentPosts.map(({ post, slug }) => (
      <TerminalPostCard post={post} slug={slug} />
    ))}
  </div>
</Layout>
